/*

Layout

The designs were created to the following widths:

    Mobile: 375px
    Desktop: 1440px

Colors

    White: hsl(0, 0%, 100%)
    Light gray: hsl(212, 45%, 89%)
    Grayish blue: hsl(220, 15%, 55%)
    Dark blue: hsl(218, 44%, 22%)

Typography
Body Copy

    Font size (paragraph): 15px

Font

    Family: Outfit
    Weights: 400, 700

*/
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');


:root{
    --max-width: 375px;
    --font-size: 15px;
    --bg: hsl(212, 45%, 89%);
    --bg-card: hsl(0, 0%, 100%);
    --color: hsl(220, 15%, 55%);
}


*,
*::before,
*::after{
    box-sizing: content-box;
}

html{
    font-size: 100%;
    background-color: var(--bg);
}

body{
    font-family: 'Outfit', sans-serif;
    font-size: var(--font-size);
}

img{
    width: 100%;
}

p,figure{
    margin: 0;
}